.buttonTeal {
  padding: 3px 9px;
  background-color: transparent;
  border: var(--border-teal);
  border-radius: 3px;
  font-family: var(--mon--ff);
  font-size: 18px;
  font-weight: 400;
  color: black;
  letter-spacing: 1px;
  cursor: pointer;
}
